@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
html, body {
  margin:0;
  padding:0;
 font-family: "Oswald", sans-serif;
  height:100%;
  width:100%;
  overflow: hidden;  /* Asegúrate de que no haya scroll innecesario */
  background-color:purple; /* Cambia el color de fondo si lo deseas */
}

#launcher-container {

  background: url("https://wallpapers.com/images/hd/pixel-art-background-evf0fmyvu0u03yt2.jpg")
    no-repeat center center;
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  display: flex;
  justify-content: space-between; /* Para separar el sidebar del contenedor */
  align-items: center;
  height: 100%;
  width: 100%;
}
.title-bar{

border-radius:20px 20px 0px 0px;
      height: 30px;
     width: 100%;
background:#242424;
}
.account-p{
position:absolute;
top:125px;
  background:#242424;
border-radius:20px;
height:400px;
color:white;
padding:5px;

}
.account-p .microsoft-log{
    background:lightblue;


}
.title-bar .title-section{
padding:1px;
padding-left:10px;

  display:flex;
}
   .title-bar .icon {
      width: 24px;
      height: 24px;
      background: url('assets/images/icon.png') no-repeat center center;
      background-size: contain;
      margin-right: 10px;
    }

    .title-bar .title {
      font-size: 20px;
color:white;
    }

    .title-bar .window-controls {
      display: block;
      align-items: center;
      -webkit-app-region: no-drag; /* Permite hacer clic en botones */
    }

    .title-bar .window-controls button {
      background: none;

      border: none;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
    }

    .title-bar .window-controls button:hover {
      background-color: red;
    }





@keyframes pulse {
  0% {
    transform: scale(1) rotate(30deg);
  }
  50% {
    transform: scale(1.1) rotate(30deg);
  }
  100% {
    transform: scale(1) rotate(30deg);
  }
}

#event-popup {
  display: none;
  position: absolute;
  top: 80px;
  left: 275px;
  width: 295px;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
}
#mission-content{
width:510px;
margin-top:5px;
background:#242424; 
padding:5px;
color:white;
border-radius:20px;
}

#launcher-container #sidebar {
  background-color: rgba(50, 50, 50, 0.9); /* Color más sólido */
  width: 250px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0px 10px;

}

 #sidebar #user-info {
margin-top:10px;
background:#242424;
color:white;
  border-radius:5px;
  display: flex; /* Para alinear el nombre y la skin en línea */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 15px;
  width: 100%; /* Ancho completo */
}

 #sidebar #user-info img {
padding-right:5px;
  width: 64px;
  height: 64px;
  border-radius: 15px;
  margin-right: 10px; /* Espacio entre el nombre y la skin */
}

button {
  background-color: rgba(80, 80, 80, 0.9);
  color: white; 
font-family: "Oswald", sans-serif;
  margin: 5px 0;
  width: 250px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
padding:5px;
padding-top:10px;
padding-bottom:10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(100, 100, 100, 0.9);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

button i {
padding-right:25px;
  font-size: 18px;
}

#launcher-container #content {
  display: relative;
margin-left:280px;
 height:500px;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 5px;
  width: calc(750px - 270px); /* Resta el ancho del sidebar */
}
 #content .titles {
  font-size: 20px;
      background: url('assets/images/OverMaster.webp') no-repeat center center rgba(50, 50, 50, 0.9);
width:515px;  

height:100px;
align-items: center;
  text-align:center;
  border-radius:5px;
  color: white;
margin-top:-80px;
}


#title {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}



#mission-icon {
  position:absolute;
  font-size: 40px;
  color: red;
  animation: pulse 1s infinite;
  transform: rotate(30deg);
  cursor: pointer;
 bottom: 15px;
  right: 0px;
}

#loading-bar {
  display: none;
border-radius:20px;
  width: 90%;
  height: 10px;
  background-color: black;
  margin-top: auto; /* Para alinear la barra en la parte inferior */
  margin-bottom: 10px; /* Añadir algo de espacio debajo de la barra */
}

#progress {
  background-color: green;
  height: 100%;
  width: 0%; /* Iniciar con 0% de ancho */
}

/* Login Popup */
#login-popup {
 position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-popup iframe {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  border: none;
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

    /* Estilos para los popups */
    .popup {
  position: absolute;
  margin-left:258px;
 top:50%;
  transform: translate(-50%, -50%);
  width: 476px;
      background-color:#242424;
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup-content {
      background-color: #242424;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}


.tree{
  margin-left:50%;
  margin-top:50%;
  background:gray;
  padding:5px;
  border-radius:20px;
}
.tree p{
  justify-content: center;
  align-items: center;
  color:#ffffff;
  
}